.card {
  font-family: $font-heading;
  font-size: 12px;
  line-height: 16px;
  font-weight: $regular;
  color: $dark-grey;

  padding: 19px 0 25px;

  display: grid;

  @media (max-width: $only-mobile-width) {
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    grid-template-areas:
      "img link"
      "img list"
      "btn btn";
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr auto;
    box-sizing: border-box;
    width: 100%;
    padding: 39px 36px;

    background-color: $basic-grey;

    grid-template-areas:
      "img"
      "link"
      "list"
      "btn";
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 40px 30px;
  }
}

.card__heading {
  font-size: 16px;
  line-height: 20px;
  font-weight: $regular;
  color: $color-heading;
  text-transform: uppercase;

  margin-right: 60px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;

    text-align: center;
    width: 170px;
    margin: 0 auto;
  }
}

.card__link {
  grid-area: link;
  margin: 0 0 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.card__picture,
.card__img {
  grid-area: img;

  align-self: center;
  justify-self: center;
  width: 100%;
  height: auto;

}

.card__list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2px;
   grid-area: list;

   font-size: 12px;
  line-height: 16px;
   font-family: $font-body;

   margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    row-gap: 19px;
    font-size: 16px;
    margin: 0 2px 33px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7px 33px;
  }
}

.card__title {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 200%;
      height: 1px;

      left: 0;
      bottom: -9px;

      background-color: $color-grey-2;

      @media (min-width: $desktop-width) {
        bottom: -10px;
      }
    }
  }
}

.card__definition {
  margin-left: auto;
}

.card__button {
  grid-area: btn;
}
