


.page-main__heading {
  font-family: $font-heading;
  font-size: 36px;
  font-weight: $regular;
  line-height: 40px;
text-align: center;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 32px;

  }
}

.page-main__subheading {
  font-family: $font-heading;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 54px;
  }
}
